.article-item { transition:transform 1s; } 

.article-item:hover{ transform: scale(1.1,1.1);}

.code-area{
    background-color: #f5f5f5;
    font-family: Courier New !important;
    font-size: 12px !important;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    margin: 5px 0;
    color: #000;
}